html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #e0e0ce;
}

p, li {
  font-family: "Rajdhani", sans-serif;
  margin-bottom: 0;
}

header {
  background-color: #151e3f;
  color: #FAFAFA;
  font-family: "Bebas Neue";
  text-align: center;
  padding: 60px 0 0 0;
}

.header__button {
  margin: 0;
  padding: 5px 10px;
  font-family: "Rajdhani", sans-serif;
  border-radius: 10px;
}

.header__button-link {
  border-radius: 10px;
  background-color: #3083dc;
  color: #FAFAFA;
  text-decoration: none;
  margin: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.header__button:hover, .header__button:active, .header__button:focus {
  background-color: #FAFAFA;
  color: #3083dc;
}

.wave__container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 10%;
  vertical-align: middle;
  overflow: hidden;
}

.wave__item {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

footer, .footer__contact {
  color: #FAFAFA;
  text-align: center;
  margin: 0;
}

.footer__contact {
  background-color: #151e3f;
  padding: 10px 0 20px 0;
}

.contact__item {
  margin: 5px;
  fill: #3083dc;
}

.contact__link {
  text-decoration: none;
}

.contact__path:hover, .contact__path:active, .contact__path:focus {
  fill: #FAFAFA;
}

.text__contact, .text__copyright {
  margin-bottom: 10px;
}

.copyright {
  background-color: #0f162f;
  padding: 10px;
}

.title--big {
  margin: 0;
}

.title {
  font-family: "Bebas Neue";
  margin-top: 0;
}

.text {
  line-height: 1.5;
}

.my-photo {
  width: 150px;
  border-radius: 50%;
  border: 10px solid #FAFAFA;
}

.box {
  background-color: #FAFAFA;
  padding: 30px;
  margin: 30px;
  border-radius: 20px;
}

.art {
  position: relative;
  height: 400px;
}

.items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}

.item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
}

.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  z-index: 100;
}

.button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.button-container .button:hover {
  opacity: 1;
}

.button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}

@media screen and (min-width: 640px) {
  .header__column {
    margin: 30px;
  }
  header {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .mail {
    margin-left: 0;
  }
  .box {
    margin: 0;
  }
  .grid {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }
  .about {
    grid-column: 1/3;
  }
  .certificate {
    grid-column: 1/3;
  }
  .art {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1100px) {
  .grid {
    max-width: 50%;
    margin: 30px auto;
  }
}/*# sourceMappingURL=style.css.map */