html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

$primary-color: #151e3f;
$background-color: #e0e0ce;
$secondary-color: #FAFAFA;
$active-color: #3083dc;
$font-base: 'Bebas Neue';
$font-special: 'Rajdhani', sans-serif;

body {
    margin: 0;
    background-color: $background-color;
}


p, li {
    font-family: $font-special;
    margin-bottom: 0;
}

header {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $font-base;
    text-align: center;
    padding: 30px;
}

footer, .contact {
    color: $secondary-color;
    text-align: center;
    margin: 0;
}

.contact {
    background-color: $primary-color;
    padding: 10px 0 20px 0;;
    
}

.contact__item {
    margin: 5px;
    fill: $secondary-color;
}

.contact__link {
    text-decoration: none;
}

.contact__path:hover, .contact__path:active, .contact__path:focus {
    fill: $active-color;

}

.text__contact, .text__copyright {
    margin-bottom: 10px;
}

.copyright {
    background-color: #0f162f;
    padding: 10px;
}

.title--big {
    margin: 0;
}
.title {
    font-family: $font-base;
    margin-top: 0;
}

.text {
    line-height: 1.5;
}

.my-photo {
    border-radius: 50%;
    border: 10px solid $secondary-color;
}

.box {
    background-color: $secondary-color;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
}

//Carousel

.carousel {
height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }

  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-image: url("/images/drawing-dog.jpg");
    background-position:center;
    background-size: cover;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-image: url("/images/drawing-krishna.jpg");
    background-position:center;
    background-size: cover;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-image: url("/images/drawing-jesus.jpg");
    background-position:center;
    background-size: cover;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-image: url("/images/drawing-vincent.jpg");
    background-position:center;
    background-size: cover;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-image: url("/images/drawing-madonna.jpg");
    background-position:center;
    background-size: cover;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
  