html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

$primary-color: #F03000;
$font-base: 'Montserrat', sans-serif;
$font-special: 'Open Sans', sans-serif;

div {
    background-color: aqua;
}